.header {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shoppingCart {
  position: relative;
}
.shoppingCartCounter {
  background-color: #0dcaf0;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid;
  position: absolute;
  top: -15px;
  right: 11px;
  font-size: 12px;
}

.topnav h1 {
  font-size: 28px;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.mainNav,
.secNav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainNav li,
.secNav li {
  padding: 10px 0 10px 0;
  margin: 0px 5px 0 5px;
  position: relative;
}

.mainNav li a,
.secNav li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.activeLink::after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 2px;
  width: 100%;
  bottom: 2;
}



